{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Alumni Portal</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- CSS Files -->
  <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{%static "css/material-kit.min.css%3Fv=1.1.1.css" %}" rel="stylesheet"/>

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
  <link href="assets/assets-for-demo/demo.css" rel="stylesheet" /> -->

</head>

<body>

  <nav class="navbar navbar-default" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Alumni Portal</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html#pablo">Alumni Portal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation-example-2">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="index.html#pablo">
              Discover
            </a>
          </li>
          <li>
            <a href="index.html#pablo">
              Wishlist
            </a>
          </li>

          <li>
            <a href="index.html#pablo" class="btn btn-rose btn-raised btn-round" data-toggle="dropdown">
              Register
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>

  {% block body %} {% endblock %}

  <footer class="footer footer-white footer-big">
    <div class="container">

      <div class="content">
        <div class="row">
          <div class="col-md-2">
            <h5>About Us</h5>
            <ul class="links-vertical">
              <li>
                <a href="index.html#pablo">
                 Blog
               </a>
             </li>
             <li>
              <a href="index.html#pablo">
               About Us
             </a>
           </li>
           <li>
            <a href="index.html#pablo">
              Presentation
            </a>
          </li>
          <li>
            <a href="index.html#pablo">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Market</h5>
        <ul class="links-vertical">
          <li>
            <a href="index.html#pablo">
             Sales FAQ
           </a>
         </li>
         <li>
          <a href="index.html#pablo">
            How to Register
          </a>
        </li>
        <li>
          <a href="index.html#pablo">
           Sell Goods
         </a>
       </li>
       <li>
        <a href="index.html#pablo">
          Receive Payment
        </a>
      </li>
      <li>
        <a href="index.html#pablo">
          Transactions Issues
        </a>
      </li>
      <li>
        <a href="index.html#pablo">
          Affiliates Program
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h5>Social Feed</h5>
    <div class="social-feed">
      <div class="feed-line">
        <i class="fa fa-twitter"></i>
        <p>How to handle ethical disagreements with your clients.</p>
      </div>
      <div class="feed-line">
        <i class="fa fa-twitter"></i>
        <p>The tangible benefits of designing at 1x pixel density.</p>
      </div>
      <div class="feed-line">
        <i class="fa fa-facebook-square"></i>
        <p>A collection of 25 stunning sites that you can use for inspiration.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h5>Follow Us</h5>
    <ul class="social-buttons">
      <li>
        <a href="index.html#pablo" class="btn btn-just-icon btn-simple btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="index.html#pablo" class="btn btn-just-icon btn-simple btn-facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="index.html#pablo" class="btn btn-just-icon btn-simple btn-dribbble">
          <i class="fa fa-dribbble"></i>
        </a>
      </li>
      <li>
        <a href="index.html#pablo" class="btn btn-just-icon btn-simple btn-google">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="index.html#pablo" class="btn btn-just-icon btn-simple btn-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>

    <h5>Numbers Don't Lie</h5>
    <h4 class="text-muted">14.521 <small>Freelancers</small></h4>
    <h4>1.423.183 <small>Transactions</small></h4>
  </div>
</div>
</div>

<hr />

<div class="copyright pull-center">
  Copyright &copy; <script>document.write(new Date().getFullYear())</script> Geekhaven All Rights Reserved.
</div>
</div>
</footer>
</body>
<script src="{%static "js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{%static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{%static "js/material.min.js" %}"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{%static "js/moment.min.js" %}"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{%static "js/nouislider.min.js" %}" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{%static "js/bootstrap-datetimepicker.js" %}" type="text/javascript"></script>

<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{%static "js/bootstrap-selectpicker.js" %}" type="text/javascript"></script>

<!--  Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{%static "js/bootstrap-tagsinput.js" %}"></script>

<!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{%static "js/jasny-bootstrap.min.js" %}"></script>

<!-- Plugin For Google Maps -->
<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M"></script>

<script src="{%static "js/atv-img-animation.js" %}" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="{%static "js/material-kit.min.js" %}" type="text/javascript"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<!-- <script src="assets/assets-for-demo/modernizr.js" type="text/javascript"></script>
  <script src="assets/assets-for-demo/vertical-nav.js" type="text/javascript"></script> -->

  <script type="text/javascript">

    $(document).ready(function(){
      var slider = document.getElementById('sliderRegular');

      noUiSlider.create(slider, {
        start: 40,
        connect: [true,false],
        range: {
          min: 0,
          max: 100
        }
      });

      var slider2 = document.getElementById('sliderDouble');

      noUiSlider.create(slider2, {
        start: [ 20, 60 ],
        connect: true,
        range: {
          min:  0,
          max:  100
        }
      });



      materialKit.initFormExtendedDatetimepickers();

    });
  </script>

  </html>
