{% extends "base.html" %}

{% block body %}

<div class="container">
    <ul class="nav nav-pills nav-pills-rose">
        <li class="active"><a href="#pill1" data-toggle="tab">Basic</a></li>
        <li><a href="#pill2" data-toggle="tab">Social</a></li>
        <li><a href="#pill3" data-toggle="tab">Personal</a></li>
    </ul>

    <div class="tab-content tab-space">
        <div class="tab-pane active" id="pill1">
            <ul>
                <h4 class="title"><li>User name: {{ username }}</li></h4>
                <h4 class="title"><li>Name : {{ name }}</li></h4>
                <h4 class="title"><li>Primary Email : {{ email_1 }}</li></h4>
                <h4 class="title"><li>Date of birth : {{ date_of_birth }}</li></h4>
                <h4 class="title"><li>Gender : {{ gender }}</li></h4>
            </ul>
        </div>
        <div class="tab-pane" id="pill2">
            <ul>
                {% if scope_facebook in allowed_scopes %}
                <h4 class="title"><li>Facebook: {{ link_facebook }}</li></h4>
                {% endif %}

                {% if scope_twitter in allowed_scopes %}
                <h4 class="title"><li>Twitter: {{ link_twitter }} {{ scope_twitter }}</li></h4>
                {% endif %}

                {% if scope_linkedin in allowed_scopes %}
                <h4 class="title"><li>LinkedIn: {{ link_linkedin }} {{ scope_linkedin }}</li></h4>
                {% endif %}

                {% if scope_skype in allowed_scopes %}
                <h4 class="title"><li>Skype: {{ link_skype }} {{ scope_skype }}</li></h4>
                {% endif %}

                <h4 class="title"><li>GitHub: {{ link_github }}</li></h4>
                <h4 class="title"><li>Blog: {{ link_blog }}</li></h4>
                <h4 class="title"><li>Website: {{ link_website }}</li></h4>
            </ul>
        </div>
        <div class="tab-pane" id="pill3">
            <ul>
                <h4 class="title"><li>Email 2: {{ email_2 }}</li></h4>
                <h4 class="title"><li>Phone 1: {{ phone_1 }}</li></h4>
                <h4 class="title"><li>Phone 2: {{ phone_2 }}</li></h4>
                <h4 class="title"><li>Marital Status: {{ marital_status }}</li></h4>
                <h4 class="title"><li>Blood group: {{ blood_group }}</li></h4>
                <h4 class="title"><li>Photograph: {{ photograph }}</li></h4>
                <h4 class="title"><li>Nationality: {{ nationality }}</li></h4>

                {% if scope_permanent_address in allowed_scopes %}
                <h4 class="title">
                    <li>Permanent Address:
                        <ul>
                            <h6 class="title"><li>Address Line 1: {{ permanent_address.address_line_1 }}</li></h6>
                            <h6 class="title"><li>Address Line 2: {{ permanent_address.address_line_2 }}</li></h6>
                            <h6 class="title"><li>City: {{ permanent_address.city }}</li></h6>
                            <h6 class="title"><li>State: {{ permanent_address.state }}</li></h6>
                            <h6 class="title"><li>Country: {{ permanent_address.country }}</li></h6>
                            <h6 class="title"><li>Zip Code: {{ permanent_address.zip_code }}</li></h6>
                        </ul>
                    </li>
                </h4>
                {% endif %}

                {% if scope_current_address in allowed_scopes %}
                <h4 class="title">
                    <li>Current Address:
                    <ul>
                        <h6 class="title"><li>Address Line 1: {{ current_address.address_line_1 }}</li></h6>
                        <h6 class="title"><li>Address Line 2: {{ current_address.address_line_2 }}</li></h6>
                        <h6 class="title"><li>City: {{ current_address.city }}</li></h6>
                        <h6 class="title"><li>State: {{ current_address.state }}</li></h6>
                        <h6 class="title"><li>Country: {{ current_address.country }}</li></h6>
                        <h6 class="title"><li>Zip Code: {{ current_address.zip_code }}</li></h6>
                    </ul>
                    </li>
                </h4>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}
