{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2 class="title">Work Experiences</h2>
    {% for exp in experiences %}
    **
        <ul>
            <h4 class="title"><li> {{ exp.employer }}
            </li></h4>
            <h4 class="title"><li> {{ exp.start_date }}
            </li></h4>
            <h4 class="title"><li> {{ exp.end_date }}
            </li></h4>
            <h4 class="title"><li> {{ exp.sector }}
            </li></h4>
            <h4 class="title"><li> {{ exp.designation }}
            </li></h4>
            <h4 class="title"><li> {{ exp.founder }}
            </li></h4>
            <h4 class="title"><li> {{ exp.location }}
            </li></h4>
        </ul>

    {% endfor %}
</div>
{% endblock %}
