{% block navigation %}

<nav class="navbar navbar-default" role="navigation-demo">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
      <span class="sr-only">Alumni Portal</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html#pablo">Alumni Portal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="index.html#pablo">
            Discover
          </a>
        </li>
        <li>
          <a href="index.html#pablo">
            Wishlist
          </a>
        </li>

        <li>
          <a href="index.html#pablo" class="btn btn-rose btn-raised btn-round" data-toggle="dropdown">
            Register
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
{% endblock %}
